<app-nav>
</app-nav>

<button (click)="showConfig()" type="button" class="sky-btn sky-btn-primary">Get Speedruns</button>
<sky-grid fit="scroll" [data]="items" (sortFieldChange)="sortChanged($event)">
  <sky-grid-column id="event" field="event" heading="Event">
  </sky-grid-column>
  <sky-grid-column id="game" field="game" heading="Game">
  </sky-grid-column>
  <sky-grid-column id="category" field="category" heading="Category">
  </sky-grid-column>
  <sky-grid-column id="notes" field="notes" heading="Notes">
  </sky-grid-column>
</sky-grid>
