<app-nav>
</app-nav>

Submit Run
<div class="sky-form-group" style="max-width: 50%">
  <label for="form-group-first-input-example" class="sky-control-label">Game</label>
  <input class="sky-form-control" id="form-group-first-input-example" type="text">
</div>
<div class="sky-form-group" style="max-width: 50%">
  <label for="form-group-second-input-example" class="sky-control-label">Category</label>
  <input class="sky-form-control" id="form-group-second-input-example" type="text">
</div>
<div class="sky-form-group" style="max-width: 50%">
  <label for="form-group-second-input-example" class="sky-control-label">Time</label>
  <input class="sky-form-control" id="form-group-second-input-example" type="text">
</div>
<div class="sky-form-group" style="max-width: 50%">
  <label for="form-group-second-input-example" class="sky-control-label">Video</label>
  <input class="sky-form-control" id="form-group-second-input-example" type="text">
</div>
<button (click)="showConfig()" type="button" class="sky-btn sky-btn-primary">Get Speedruns</button>

